body {
    --primary: #f5ac72;
    --secondary: #facfad;
    --dark: #212529;
}

body.orange {
    --primary: #FC6471;
    --secondary: #7D5BA6;
    --dark: #212529;
}

body.blue {
    --primary: #1481BA;
    --secondary: #0CAADC;
    --dark: #001021;
}

body.red {
    --primary: #FF5964;
    --secondary: #FE9920;
    --dark: #333745;
}

body.pastel {
    --primary: #F2BAC9;
    --secondary: #BAD7F2;
    --dark: #333745;
}

body {
    font-family: 'Readex Pro', sans-serif;
}

h2 {
    color: var(--primary);
}

a {
    color: #212529;
    text-decoration: unset;
}

.min-vh-50 {
    min-height: 50vh !important;
}

.bg-primary.bg-gradient {
    background: rgb(245,172,114) !important;
    background: linear-gradient(135deg, var(--primary) 15%, var(--secondary) 100%) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-img {
    position: relative;
    overflow: hidden;
}

.bg-landing::before {
    right: 0;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    position: absolute;
    content: '';
    background: url("img/decoration.png");
}

.bg-hero::before {
    right: 0;
    bottom: 0;
    width: 50vw;
    height: 50vh;
    position: absolute;
    content: '';
    background: url("img/decoration.png");
}

.text-primary {
    color: var(--primary) !important;
}

.border-primary {
    border-color: var(--primary) !important;
}

.pointer {
    cursor: pointer;
}

.contact,
.contact__icon {
    transition: 0.15s;
}

.contact:hover {
    background-color: var(--primary);
    color: white;
}

.contact:hover .contact__icon {
    color: white !important;
}