<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <!-- meta -->
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{user_name}} portfolio</title>
    <meta content="{{description}}" name="description">

    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="./app.css" rel="stylesheet"/>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;600&display=swap" rel="stylesheet"/>
</head>
<body class="{{color_theme}} d-flex flex-column h-100">
<nav class="p-3 bg-dark text-white flex-shrink-0 fixed-top">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" href="#">
                {{user_name}}
            </a>

            <!-- One Link -->
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-secondary" href="{{url}}">{{title}}</a></li>
            </ul>
            <!-- // -->

        </div>
    </div>
</nav>
<main>

    <!-- Landing section-->
    <section class="min-vh-100 bg-primary bg-gradient d-flex bg-img bg-landing shadow-sm">
        <div class="m-auto container">
            <h1>
                Welcome to<br>
                <span class="fw-bold text-uppercase">{{user_name}}</span><br>
                portfolio<br>
            </h1>
        </div>
    </section>
    <!-- // -->

    <!-- Text + image section-->
    <section class="min-vh-100 d-flex container">
        <div class="m-auto row w-100">
            <div class="col-6 d-flex">
                <div class="my-auto">
                    <h2 class="fw-bold text-uppercase">{{title}}</h2>
                    <p class="w-75 mb-0">
                        {{text}}
                    </p>
                </div>
            </div>
            <div class="col-6">
                <img alt="{{user_name}}" class="w-100" src="{{image}}">
            </div>
        </div>
    </section>
    <!-- // -->

    <!-- Hero section-->
    <section class="min-vh-50 bg-dark text-white d-flex bg-img bg-hero">
        <div class="container m-auto py-5">
            <h1>{{title}}</h1>
            <h2 class="fs-3">{{subtitle}}</h2>
        </div>
    </section>
    <!-- // -->

    <!-- Contacts section -->
    <section>
        <div class="container py-5 my-5">
            <h2 class="fw-bold text-uppercase text-center">{{title}}</h2>
            <div class="row mt-5 mb-2">
                <div class="col-xl-4 col-md-6 col-12 mt-3">
                    <a class="px-5 py-3 border rounded-3 border-primary pointer contact d-block" href="tel:{{phone}}">
                        <h3>
                            <i class="bi bi-telephone text-primary contact__icon"></i>
                            {{phone_title}}
                        </h3>
                        <p class="mb-0">{{phone}}</p>
                    </a>
                </div>
                <div class="col-xl-4 col-md-6 col-12 mt-3">
                    <a class="px-5 py-3 border rounded-3 border-primary pointer contact d-block" href="mail:{{email}}">
                        <h3>
                            <i class="bi bi-vector-pen text-primary contact__icon"></i>
                            {{email_title}}
                        </h3>
                        <p class="mb-0">{{email}}</p>
                    </a>
                </div>
                <div class="col-xl-4 col-12 mt-3">
                    <a class="px-5 py-3 border rounded-3 border-primary pointer contact d-block"
                       href="https://www.google.lt/maps/dir//{{address}}"
                       target="_blank">
                        <h3>
                            <i class="bi bi-house text-primary text-hover-white contact__icon"></i>
                            {{address_title}}
                        </h3>
                        <p class="mb-0">{{address}}</p>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- // -->

    <!-- Carousel -->
    <section>
        <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleControls">
            <div class="carousel-inner">

                <!-- One Image -->
                <div class="carousel-item active">
                    <img alt="{{alt}}" class="d-block w-100" src="{{image}}">
                </div>
                <!-- // -->

            </div>
            <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleControls"
                    type="button">
                <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleControls"
                    type="button">
                <span aria-hidden="true" class="carousel-control-next-icon"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- // -->

    <!-- Testimonial -->
    <section class="bg-dark">
        <div class="container min-vh-100 d-flex">
            <div class="m-auto row w-100 py-5">
                <div class="col-6 d-flex position-relative py-5">
                    <i class="bi bi-quote testimonial__icon position-absolute top-0 start-0 ms-3"></i>
                    <div class="my-auto pt-5">
                        <p class="mb-0 text-white fs-4">
                            {{text}}
                        </p>
                        <p class="text-primary mt-4 fs-5 fw-bold mb-1">{{name}}</p>
                        <!-- position = Work Position = Job Title -->
                        <p class="text-muted fst-italic">{{position}}</p>
                    </div>
                </div>
                <div class="col-6 d-flex">
                    <img alt="{{name}}" class="w-75 ms-auto" src="{{image}}">
                </div>
            </div>
        </div>
    </section>
    <!-- // -->

    <!-- Quote -->
    <section>
        <div class="container py-5 my-5">
            <blockquote class="blockquote position-relative">
                <i class="bi bi-quote blockquote__icon position-absolute top-0 start-0 ms-3"></i>
                {{text}}
                <i class="bi bi-quote blockquote__icon position-absolute bottom-0 end-0 me-3 rotate"></i>
            </blockquote>
        </div>
    </section>
    <!-- // -->

    <!-- Paragraph -->
    <section>
        <div class="container py-5 my-5">
            <p>{{text}}</p>
        </div>
    </section>
    <!-- // -->

    <!-- Highlighted Paragraph -->
    <section>
        <div class="container py-5 my-5">
            <p class="text-primary fs-5 fst-italic">
                {{text}}
            </p>
        </div>
    </section>
    <!-- // -->

    <!-- Title + Subtitle -->
    <section>
        <div class="container py-5 my-5">
            <h1 class="text-primary fw-bold">
                {{title}}
            </h1>
            <p>{{subtitle}}</p>
        </div>
    </section>
    <!-- // -->

    <!-- Image Banner -->
    <section class="my-5">
        <img class="w-100 image-banner" alt="{{alt}}" src="{{src}}">
    </section>
    <!-- // -->

</main>
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <span class="text-muted">{{user_name}} © {{current_year}}</span>
    </div>
</footer>
<script
        crossorigin="anonymous"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
></script>
</body>
</html>
